<a href="https://colab.research.google.com/github/KeshekaE/ColabUTD/blob/main/House_Linear%26perceptron.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [ ]:
def removing(x):
  x.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)
  x.drop(['Alley','PoolQC','Fence','MiscFeature'],axis = 1,inplace = True)
  columns = x.columns.values
  for column in columns:
    if x[column].dtype != np.int64 and x[column].dtype != np.float64:
      x[column].fillna(value = x[column].mode(),inplace = True)
    else:
      x[column].fillna(value = x[column].mean(),inplace = True)
  


def handle_non_numerical_data(df):
    columns = df.columns.values
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = str(x)
                    x+=1

            df[column] = list(map(convert_to_int, df[column]))
def main(df):
  removing(df)
  handle_non_numerical_data(df)
  # one_hot_encoding(df)

def add_missing_dummy_columns(test,train):
  missing_cols = set(train.columns) - set(test.columns)
  missing_cols2 = set(test.columns) - set(train.columns)
  for c in missing_cols:
    test[c] = 0

  for c in missing_cols2:
    train[c] = 0

In [ ]:
main(train)
main(test)
train.shape

(1460, 77)

In [ ]:
y_train = train['SalePrice']
encoded_train = pd.get_dummies(train)
encoded_train.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_5,SaleType_6,SaleType_7,SaleType_8,SaleCondition_0,SaleCondition_1,SaleCondition_2,SaleCondition_3,SaleCondition_4,SaleCondition_5
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,0,0,1,0,0,0,1,0,0
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,0,0,0,1,0,0,0,1,0,0
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,0,0,1,0,0,0,1,0,0
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,0,0,1,0,1,0,0,0,0
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,0,0,0,1,0,0,0,1,0,0

In [ ]:
encoded_test = pd.get_dummies(test)
encoded_test.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_6,SaleType_7,SaleType_8,SaleType_9,SaleCondition_0,SaleCondition_1,SaleCondition_2,SaleCondition_3,SaleCondition_4,SaleCondition_5
0,1461,20,80.0,11622,5,6,1961,1961,0.0,468.0,...,0,0,0,1,0,0,0,1,0,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,923.0,...,0,0,0,1,0,0,0,1,0,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,791.0,...,0,0,0,1,0,0,0,1,0,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,602.0,...,0,0,0,1,0,0,0,1,0,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,263.0,...,0,0,0,1,0,0,0,1,0,0

In [ ]:
add_missing_dummy_columns(encoded_test,encoded_train)
encoded_train.shape

(1460, 293)

In [ ]:
encoded_test.shape
encoded_test.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,Condition2_7,HouseStyle_7,RoofMatl_6,Electrical_5,Exterior1st_14,RoofMatl_4,Condition2_6,GarageQual_5,Condition2_5,Heating_5
0,1461,20,80.0,11622,5,6,1961,1961,0.0,468.0,...,0,0,0,0,0,0,0,0,0,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,923.0,...,0,0,0,0,0,0,0,0,0,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,791.0,...,0,0,0,0,0,0,0,0,0,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,602.0,...,0,0,0,0,0,0,0,0,0,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,263.0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
scaler = StandardScaler()
reg = LinearRegression()
encoded_test_scaled = scaler.fit_transform(encoded_test)
encoded_test.shape

encoded_train_scaled = scaler.fit_transform(encoded_train)

In [ ]:
reg.fit(encoded_train_scaled,y_train)

LinearRegression()

In [ ]:
SalePrice = reg.predict(encoded_test_scaled)
print(SalePrice)

[176777.65470871 176591.56172422 176974.74257826 ... 176841.79055438
 176269.8099704  176391.32573369]

In [ ]:
flat_list = [x for x in SalePrice]
prediction = pd.DataFrame({'id': range(1461,2920),'SalePrice':flat_list})
prediction.head()

     id      SalePrice
0  1461  176777.654709
1  1462  176591.561724
2  1463  176974.742578
3  1464  176841.398133
4  1465  176822.345880

In [ ]:
def mse(X,Y):
  return ((X-Y)**2).mean() / 2
def linear_regression(x,w,b):
  return np.dot(x,w) + b

print(linear_regression([2,3],[3,2],2))

14

In [ ]:
def gradient_descent(X,Y,w,_b,learning_rate,iterations):
  b = _b
  double_len_x = len(X) * 2
  X_transpose = X.transpose()
  for _ in range(iterations):
    lr = linear_regression(X,w,b)
    differences = (lr - Y)
    w_change = np.dot(X_transpose,differences)/double_len_x
    w -= learning_rate * w_change
    b_change = differences.mean()
    b -= learning_rate * b_change/2

    if _ % 10000 == 0:
      print('Iteration ' + str(_) + ', loss: ' + str(mse(lr,Y)))
      #print(np.dot(X_transpose,differences))

  return w,b

In [ ]:
w = np.array([0] * 293, dtype = 'float')
w_,b = gradient_descent(encoded_train_scaled,y_train,w,0,0.01,100000)

Iteration 0, loss: 19519633853.882877
Iteration 10000, loss: 744127.002052159
Iteration 20000, loss: 10945.602153929614
Iteration 30000, loss: 792.8910745881433
Iteration 40000, loss: 152.47637371274263
Iteration 50000, loss: 33.10181926689431
Iteration 60000, loss: 7.318158191818544
Iteration 70000, loss: 1.6330237438093438
Iteration 80000, loss: 0.3668723595801873
Iteration 90000, loss: 0.08283820304825874

# Perceptron

In [ ]:
import numpy as np
import pandas as pd

def readDataFile():
  return pd.read_csv(fileName, names=['x1', 'x2', 'x3', 'x4', 'y'])

In [ ]:
from sklearn.model_selection import train_test_split
def splitData(data, t_size):
  return train_test_split(data, test_size=t_size, random_state=50)

In [ ]:
def get_X_Y(data):
  return data.loc[:,'x1':'x4'].values, data.loc[:, 'y'].values

In [ ]:
# h(x)
def _hypo(X, w, b):
  return np.dot(X, w) + b

# loss(x)
def _loss(X, Y, w, b):
  loss = (-Y * _hypo(X, w, b))
  loss[loss >= 0] = 1
  loss[loss < 0] = 0
  return loss


#gradient_descent()
def gradientDescent(X, Y, w0, b0, stepSize):
  #intial w0, b0
  w_t = w0
  b_t = b0
  it = 1

  loss = _loss(X, Y, w_t, b_t)
  no_of_misc = sum(loss)
  while (no_of_misc != 0):

    delta_b = Y * loss
    delta_w = np.sum(delta_b[:, np.newaxis] * X, axis=0)

    w_t += stepSize * delta_w
    b_t += stepSize * sum(delta_b)

    loss = _loss(X, Y, w_t, b_t)
    no_of_misc = sum(_loss(X, Y, w_t, b_t))

    it +=1 
  return w_t, b_t, it

In [ ]:
data = readDataFile('perceptron.data')
tr_data, tst_data = splitData(data, 0.05)

X, Y = get_X_Y(tr_data)

w, b, it = gradientDescent(X, Y, [1, 1, 1, 1], 1, 0.1)

print(w)
print(b)

print("No of iteration: ", it)

Xt, Yt = get_X_Y(tst_data)
ls = _loss(Xt, Yt, w, b)
print("Accurancy :", 1 - (sum(ls)/ls.shape[0]))

In [ ]:
w, b, it = gradientDescent(X, Y, [0, 0, 0, 0], 0, 0.1)

print(w)
print(b)

print("No of iteration: ", it)
Xt, Yt = get_X_Y(tst_data)
ls = _loss(Xt, Yt, w, b)
print("Accurancy :", 1 - (sum(ls)/ls.shape[0]))